  * { box-sizing: border-box; 
    } /* include padding and border in total width and lenght */
    h1 { 
        color: rgb(139, 67, 0);
        position: relative;
        text-align: center;
    }

    body { 
        min-width: 500px; 
        background-image: url("https://s1.picswalls.com/wallpapers/2016/06/06/beach-wallpapers_090611978_305.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    ol { 
        padding: 2%;
        margin-left: 20%;
        margin-right: 20%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    } /* padding and margins for the list */
    
    ol li { 
        position: relative;
        padding: 10px;
        display: flex; 
    }
    
    ol li:nth-child(even) {
        background: rgb(185, 141, 97);
    }
    
    ol li:hover {
        background: rgb(138, 112, 72);
    } /* finish styling items */
    
    .delete-btn {
        right: 0%;
        padding-right: 3%;
        background: none;
        cursor: pointer;
        transition: 0.1s ease;
        padding: 2px 5px;
        position: absolute;
    } /* close button for new items */

    .delete-btn:hover {
        transform: scale(1.1);
        border-color: black;
    }

    .complete {
        text-decoration: line-through;
    }

    .content-div {
        display: flex;
        gap: 5px;
    }

    .todoInput {
        color: black;
        display: block;
        justify-content: center;
        margin: 0 auto;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        background-color: transparent;
        text-align: center;
        box-shadow: 0 4px 15px 0 rgb(0, 0, 0);
        
     }
    
    .todoInput::placeholder {
        color: black;
    }

